:root {
    --dark-cyan: #1f7d8d;
    --darkcyan-limegreen: #1f8d66;
    --darklimegreen: #1f8d2f;
    --cyan: #009dab;
    --dark-orange: #ab6300;
    --verydarkorange: #4e2b00;
    --blue: #283747;
    --cerulean: #007BA7;
    

}

body {
    background-color: var(--blue);
    
    
}



/* .container {
    display: grid;
    display: flex;
    background-color: var(--dark-cyan);
    height: 100vh;
} */

.container {
    display: grid;
    grid-template:
          'header header header header header'
          'menu menu reviews ratings analysis'
          'menu menu visitors visitors visitors'
          'menu menu visitors visitors visitors'
          'menu menu visitors visitors visitors'
          
          ;

          grid-gap: 10px;
          padding: 30px;
          height: 100vh;
          background-image: url(./Images/Ocean.jpg);
          /* opacity: .5; */
          /* background-color: var(--verydarkorange); */
          border-radius: 10px;
        

          /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 100px  */
}


.header {
    grid-area: header;
    background-color: var(--cerulean);
    border-radius: 10px;
    border: 5px;
    /* border-color: var(--darklimegreen); */
    text-shadow: 2px 2px #283747;
    text-align: center;
    font-size: 25px; 
    font-family: Georgia;
    color: var(--verydarkorange);
    
    
    
}

.menu {
    /* display: block; */
    background-color: var(--cerulean);
    /* align-items: auto;
    flex-direction: column; */
    border: 5px solid;
    border-color: var(--darklimegreen);
    border-radius: 10px;
    /* width: 200px; */
    /* height: 500px;
    margin-left: 50px;
    margin-top: 45px; */
    grid-area: menu;

    

}

.container1 {
    /* display: flex; */
    background-color: var(--cyan);
    text-align: center;
    /* flex-direction: column; */
    font-family: Georgia;
    /* align-items: center; */
    border: 5px solid;
    border-color: var(--darklimegreen);
    border-radius: 10px;
    /* width: 225px;
    height: 250px;
    margin-left: 300px;
    margin-top: -510px; */
    grid-area: reviews;
}

.container2 {
    /* display: flex; */
    background-color: var(--cyan);
    text-align: center;
    /* flex-direction: column; */
    font-family: Georgia;
    /* align-items: center; */
    border: 5px solid;
    border-color: var(--darklimegreen);
    border-radius: 10px;
    /* width: 225px;
    height: 250px;
    margin-left: 550px;
    margin-top: -260px; */
    grid-area: ratings;
}

/* .list2 {
    display: flex;
    flex-direction: column;

} */

.container3 {
    /* display: block; */
    background-color: var(--cyan);
    /* flex-direction: column; */
    font-family: Georgia;
    /* align-items: center; */
    border: 5px solid;
    border-color: var(--darklimegreen);
    border-radius: 10px;
    /* width: 225px;
    height: 250px;
    margin-left: 800px;
    margin-top: -260px; */
    grid-area: analysis;
}

h3 {
    text-align: center;
    font-family: Georgia;
    font-style: oblique;
    font-size: 20px;
    color: var(--verydarkorange);
}

.container4 {
    /* display: flex; */
    background-color: var(--cyan);
    text-align: center;
    /* flex-direction: column; */
    font-family: Georgia;
    /* align-items: center; */
    border: 5px solid;
    border-color: var(--darklimegreen);
    border-radius: 10px;
    /* width: 727px;
    height: 208px;
    margin-left: 300px;
    margin-top: 32px; */
    grid-area: visitors;

}

.dropdownList {
    color: var(--verydarkorange);
    font-family: Georgia;
    font-variant: small-caps;
    font-size: large;
}

h5 {
    color: var(--verydarkorange);
    font-size: 15px;
}

.list2 {
    text-align: start;
}


 